/************* Header ***************/

.task-header {
  margin: 1%;
}

/************ Drop Down Menus *************/

.task-header-options {
  color: #e41b80;
}

.options {
  font-size: 0.95em;
  margin-top: 3%;
  padding: 0;
  vertical-align: top;
  cursor: pointer;
}

.glyph-eye {
  color: #e41b80;
}

/********* Goal Type Drop Down Menu *************/

.choose {
  width: 65%;
  border: 1px solid darkgrey;
  border-radius: 2px;
  background-color: lightgray;
  padding: 3px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}
