<div class="container-fluid table-container">
  <table class="table table-bordered">
    <thead>
      <tr class="table-header">
        <th scope="col">Status / Progress
          <img [src]="sorterImgPath" alt="sorter" class="sorter pull-right">
        </th>
        <th scope="col">Goal <span class="glyphicon glyphicon-triangle-top pull-right"></span></th>
        <th scope="col">Assigned To
          <img [src]="sorterImgPath" alt="sorter" class="sorter pull-right">
        </th>
        <th scope="col">Patient
          <img [src]="sorterImgPath" alt="sorter" class="sorter pull-right">
        </th>
        <th scope="col">Assigned
          <img [src]="sorterImgPath" alt="sorter" class="sorter pull-right">
        </th>
        <th scope="col">Accepted
          <img [src]="sorterImgPath" alt="sorter" class="sorter pull-right">
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngFor="let patient of patients">
      <tr>
        <td>
          <div class="status">Overdue</div>
          <div>
            <div class="status-type">{{ patient.status.type }}</div>
            <div class="status-progress">{{ patient.status.progress }}</div>
          </div>
        </td>
        <td>
          {{ patient.goal }}
        </td>
        <td>
          {{ patient.assigned_to }}
        </td>
        <td>
          <div class="patient-name">
            {{ patient.patient.last_name }}, {{ patient.patient.first_name }}
          </div>
        </td>
        <td>
          <div class=" date "> {{ patient.date_assigned.date }} </div>
          <div class="date date-value "> {{ patient.date_assigned.value }} </div>
        </td>
        <td>
          <div class="date "> {{ patient.date_accepted.date }} </div>
          <div class="date date-value "> {{ patient.date_accepted.value }} </div>
        </td>
        <td>
          <div class="modify ">Modify</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>