<div class="container-fluid">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Status / Progress
          <img [src]="sorterImgPath" alt="sorter" class="sorter pull-right">
        </th>
        <th scope="col">Goal <span class="glyphicon glyphicon-triangle-top pull-right"></span></th>
        <th scope="col">Assigned To
          <img [src]="sorterImgPath" alt="sorter" class="sorter pull-right">
        </th>
        <th scope="col">Patient
          <img [src]="sorterImgPath" alt="sorter" class="sorter pull-right">
        </th>
        <th scope="col">Assigned
          <img [src]="sorterImgPath" alt="sorter" class="sorter pull-right">
        </th>
        <th scope="col">Accepted
          <img [src]="sorterImgPath" alt="sorter" class="sorter pull-right">
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>